body {
    font: 0.8em Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #CBC5A9; /* Цвет фона */
    color: #ffe; /* Цвет текста */
}

a{
    text-decoration: underline;
    color: white;
}

button{
    width:100%;
    height: 100%;
}

#header {
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #960101; /* Цвет фона шапки */
    display: flex;
    justify-content: space-between;
}

#auth_btn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#non_auth_btn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.head_div {
    display:flex;
    float:right;
}

#container {
    margin: 0 auto; /* Выравниваем по центру */
    background: #FCE600; /* Цвет колонок */
    width: 100%;
    height: 100%;
}


#diz, #like {
    float: left; width:20%;
}

#main
{
    display:flex;
}

.buttons{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
    font-size:0;
}

#like {
    float:right;
}

#content {
    background: #ffcc00;
    width:60%;
    text-align: center;
}

#footer {
    clear: both; /* Отменяем действие float */
    padding: 5px; /* Отступы вокруг текста */
    background: #960101; /* Цвет фона подвала */
}

form {
    height: 100%;
}

#username{
    font-family: cursive;
    font-size: 20px;
    font-style: oblique;
    font-weight: 600;`
}

#btns{
    border-radius: 5px;
    font-family: monospace;
}